In [ ]:
#
# Analyzing DAX Index Quotes and Returns
# Source: http://finance.yahoo.com
#
# Fernando
# Derivatives Analytics with Python
#

In [51]:
import numpy as np
import yfinance as yf

In [64]:
# Read Data for DAX from the Web
def read_dax_data():
    ''' Reads historical DAX data from Yahoo! Finance, calculates log returns, realized variance and volatility.'''
    DAX = yf.download('^GDAXI','2004-09-30','2014-09-30')
    DAX.rename(columns={'Adj Close' : 'index'}, inplace=True)
    DAX['returns'] = np.log(DAX['index'] / DAX['index'].shift(1)) 
    DAX['rea_var'] = 252 * np.cumsum(DAX['returns'] ** 2) / np.arange(len(DAX)) 
    DAX['rea_vol'] = np.sqrt(DAX['rea_var'])
    DAX = DAX.dropna()
    
    return DAX

read_dax_data().head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,index,Volume,returns,rea_var,rea_vol
Date,,,,,,,,,
2004-10-01,3895.149902,3996.110107,3895.149902,3994.959961,3994.959961,111214400,0.025879,0.168773,0.410820
2004-10-04,4005.639893,4059.270020,4005.639893,4033.280029,4033.280029,102621700,0.009546,0.095869,0.309628
2004-10-05,4034.300049,4078.500000,4023.750000,4048.709961,4048.709961,110199700,0.003818,0.065138,0.255220
2004-10-06,4046.300049,4062.189941,4030.739990,4049.659912,4049.659912,97875300,0.000235,0.048857,0.221035
2004-10-07,4062.939941,4077.330078,4034.260010,4043.360107,4043.360107,90696000,-0.001557,0.039207,0.198009

In [65]:
data = read_dax_data()

[*********************100%%**********************]  1 of 1 completed

In [63]:
def count_jumps(data, value):
    ''' Counts the number of return jumps as defined in size by value. ''' 
    jumps = np.sum(np.abs(data['returns']) > value)
    return jumps

0